#!/bin/sh
#
# 这是一个 Rush 内使用 Git 示例的示例，为了开启这个钩子，需要将文件名重命名为 "commit-msg"
# 之后执行 `rush install`, 将它从 common/git-hooks 拷贝到 .git/hooks 目录下。
#
# 了解更多 Git 钩子
#
# Git 的文档可以参考： https://git-scm.com/githooks
# 一些有用的资源： https://githooks.com
#
# 关于这个示例
#
# 这个 commit-msg 钩子被 "git commit" 传入一个参数后并调用，该参数是 commit 消息文件的名称。
# 当遇到问题后，该钩子会以非零状态码退出并显示出合适的消息。
# 该钩子被允许编辑 commit 消息。

# 该示例强制要求 commit 消息中至少包含一定数量的单词。
if [ `cat $1 | wc -w` -lt 3 ]; then
  echo ""
  echo "Invalid commit message: The message must contain at least 3 words."
    exit 1
fi
